main {
  background-image: linear-gradient(to bottom, rgba(21, 0, 26, 0.733) 10%, black 80%);

  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 30px;
}

/* itemsList  */
main > .itemsList-container {
  max-width: 1360px;
  margin: auto;
  margin-bottom: 60px;
}

main > .itemsList-container > .itemList-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

main > .itemsList-container > .itemList-header > h2 {
  font-size: 24px;
}

main > .itemsList-container > .itemList-header > a:hover {
  text-decoration: underline;
}

main > .itemsList-container > .itemsList {
  display: flex;
  align-items: start;
  padding: 40px 20px 0 20px;
  gap: 30px;
  overflow-x: scroll;
  margin: auto;
}
/* itemsListFull  */
main > .itemsList-container > .itemsListFull {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 0 20px;
  gap: 30px;
  margin: auto;
}

main > .itemsList-container > .itemsList::-webkit-scrollbar {
  background-color: #000000d2;
  height: 8px;
}

main > .itemsList-container > .itemsList::-webkit-scrollbar-thumb {
  background-color: #5000649f;
  border-radius: 10px;
  cursor: pointer;
}

main > .itemsList-container > .itemsList > li > a, main > .itemsList-container > .itemsListFull > li > a {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 200px;
  height: 250px;
}

main > .itemsList-container > .itemsList > li > a > h2, main > .itemsList-container > .itemsListFull > li > a > h2 {
  font-family: "Poppins";
  font-size: 14px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a 2 linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

main > .itemsList-container > .itemsList > li > a > picture, main > .itemsList-container > .itemsListFull > li > a > picture {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

main > .itemsList-container > .itemsList > li > a:hover > picture::before, main > .itemsList-container > .itemsListFull > li > a:hover > picture::before {
  position: absolute;
  content: "\25B6";
  font-size: 32px;
  font-weight: bold;
  color: #1ed75f;
  border: 5px solid #1ed75f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.664);
  border-radius: 50%;
  cursor: pointer;
}

main > .itemsList-container > .itemsList > li > a > picture > img, main > .itemsList-container > .itemsListFull > li > a > picture > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
  main {
    padding: 20px;
  }
  main > .itemsList-container > .itemsList, main > .itemsList-container > .itemsListFull {
    display: flex;
    align-items: start;
    padding: 30px 10px 0 10px;
    gap: 20px;
  }

  main > .itemsList-container > .itemsList > li > a, main > .itemsList-container > .itemsListFull > li > a {
    width: 100px;
    height: 180px;
  }

  main > .itemsList-container > .itemsList > li > a > h2,  main > .itemsList-container > .itemsListFull > li > a > h2 {
    font-size: 12px;
  }

  main > .itemsList-container > .itemsList > li > a > picture, main > .itemsList-container > .itemsListFull > li > a > picture {
    width: 100px;
    height: 100px;
  }

  main > .itemsList-container > .itemsList > li > a:hover > picture::before,  main > .itemsList-container > .itemsListFull > li > a:hover > picture::before {
    border: 3px solid #1ed75f7c;
  }

  main > .itemsList-container > .itemsList > li > a > picture > img,  main > .itemsList-container > .itemsListFull > li > a > picture > img {
    width: 100px;
    height: 100px;
  }
}
