nav {
    display: fixed;
    background-color: #000;
    height: 100vh;
    margin: 0;
}

.menu_container {
    width: 200px;
}

.main_menu_container {
    background-image: linear-gradient(to bottom right, var(--color4) 40%, hsla(293, 100%, 48%, 0.377) 90%);
    margin: 0px 10px 5px 10px;
    height: 300px;
    border-radius: 5px;
}

.playlist_container {
    background-image: linear-gradient(to bottom right, var(--color4) 40%, hsla(293, 100%, 48%, 0.377) 90%);
    margin: 5px 10px 5px 10px;
    height: 80px;
    border-radius: 5px;
}

.settings_container {
    background-image: linear-gradient(to bottom right, var(--color4) 40%, hsla(293, 100%, 48%, 0.377) 90%);
    margin: 5px 10px 5px 10px;
    height: 120px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

ul {
    padding: 20px;
}

li {
    padding: 10px 0 10px 0;
    list-style-type: none;
    font-weight: 600;
}

@media screen and (min-width: 992px) {
    
    .menu_container {
        width: 300px;
    }
    
    a {
        font-size: 14px;
    }
}