@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
  background-image: linear-gradient(var(--color4) 50%, var(--color5) 100%, #000000 80%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color0);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins",
    sans-serif;
}

:root {
  --color0: #ffffff;
  --color1: #797979;
  --color2: #AD7CB5;
  --color3: #826D9C;
  --color4: #22004e;
  --color5: #000000;
  
  --card-color1: #009AF1;
  --card-color2: #DA5B00;
  --card-color3: #04D300;
  --card-color4: #CF00F1;
  --card-color-gradient1: #0010A3;
  --card-color-gradient2: #6D0700;
  --card-color-gradient3: #0E4500;
  --card-color-gradient4: #5B00CF;

  --card-width: 20%;
  --card-height: 20%;
  --card-album-width: 20%;
  --card-album-height: 20%;

  --card-width-desktop: 150px;
  --card-height-desktop: 150px;
  --card-album-width-desktop: 100px;
  --card-album-width-desktop: 100px;

  --search-width: 215px;
  --search-width-desktop: 400px;
  --search-height: 30px;
  --search-height-desktop: 40px;

  --music-width: 274px;
  --music-height: 30px;
  --music-width-desktop: 850px;
  --music-height-desktop: 100px;

  --img-music-width: 45px;
  --img-music-height: 45px;
  --img-music-width: 80px;
  --img-music-height: 80px;

}